@using Zenzinger_Eshop_Web.Areas.Admin.Controllers

@model Product
@{
    ViewData["Title"] = "Product Create";
}
<h1>@ViewData["Title"]</h1>

<p>This page create Product Item</p>

@{
    ViewBag.Action = nameof(ProductController.Create);
}

<partial name="CreateEditForm" model="Model" />