@model Product
@{
    ViewData["Title"] = "Product Edit";
}
<h1>@ViewData["Title"]</h1>

<p>This page edits product Item</p>

@{
    ViewBag.Action = nameof(ProductController.Edit);
}

<partial name="CreateEditForm" model="Model" />